In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df_data_NYC = pd.read_csv('311_Service_Requests.csv')
df_data_NYC.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
0,0,45531130,02/02/2020 06:09:17 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10019.0,426 WEST 52 STREET,WEST 52 STREET,ADDRESS,NEW YORK,Open,The following complaint conditions are still o...,MANHATTAN,40.765132,-73.988993
1,1,45529784,02/02/2020 02:15:24 PM,NaN,UNSANITARY CONDITION,RESIDENTIAL BUILDING,11204.0,1751 67 STREET,67 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.618484,-73.992673
2,2,45527528,02/02/2020 02:27:41 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,11372.0,87-15 37 AVENUE,37 AVENUE,ADDRESS,Jackson Heights,Open,The following complaint conditions are still o...,QUEENS,40.750269,-73.879432
3,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558
4,4,45528814,02/02/2020 01:59:44 PM,NaN,APPLIANCE,RESIDENTIAL BUILDING,11209.0,223 78 STREET,78 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.629745,-74.030533

In [2]:
#Rename a single column name
df_data_NYC.rename(columns={'Unnamed: 0':'CompCount'},inplace=True)
# replacing blank spaces in all column names with '_'  
df_data_NYC.columns =[column.replace(" ", "_") for column in df_data_NYC.columns]
#list all column names
df_data_NYC.columns

Index(['CompCount', 'Unique_Key', 'Created_Date', 'Closed_Date',
       'Complaint_Type', 'Location_Type', 'Incident_Zip', 'Incident_Address',
       'Street_Name', 'Address_Type', 'City', 'Status',
       'Resolution_Description', 'Borough', 'Latitude', 'Longitude'],
      dtype='object')

In [3]:
df_data_BX = pd.read_csv('BX_18v1.csv')
df_data_BX.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BX,2260,1,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
1,BX,2260,4,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
2,BX,2260,10,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
3,BX,2260,17,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
4,BX,2260,18,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1

In [4]:
#create a new df for Bronx with the key features

df_data_BX= df_data_BX[['Address','BldgArea','BldgDepth','BuiltFAR','CommFAR','FacilFAR','Lot','LotArea','LotDepth',
               'NumBldgs','NumFloors','OfficeArea','ResArea','ResidFAR','RetailArea','YearBuilt','YearAlter1','ZipCode','YCoord','XCoord']]
df_data_BX.head()

,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord
0,122 BRUCKNER BOULEVARD,0,0.0,0.00,5.0,6.5,1,15000,200.0,1,0.0,0,0,6.02,0,0,0,10454.0,232162.0,1005957.0
1,126 BRUCKNER BOULEVARD,752,16.0,0.05,5.0,6.5,4,13770,100.0,2,1.0,272,0,6.02,0,1931,1994,10454.0,232156.0,1006076.0
2,138 BRUCKNER BOULEVARD,39375,200.0,1.13,5.0,6.5,10,35000,200.0,1,2.0,0,0,6.02,0,1931,0,10454.0,232036.0,1006187.0
3,144 BRUCKNER BOULEVARD,12500,85.0,5.00,5.0,6.5,17,2500,100.0,1,5.0,0,12500,6.02,0,1931,2001,10454.0,232033.0,1006299.0
4,148 BRUCKNER BOULEVARD,8595,70.0,4.58,5.0,6.5,18,1875,75.0,1,5.0,0,6876,6.02,1719,1920,2009,10454.0,232040.0,1006363.0

In [5]:
#limit rows to Bronx Complaints
df_data_NYC.query('Borough =="BRONX"', inplace=True)
df_data_NYC.head()

,CompCount,Unique_Key,Created_Date,Closed_Date,Complaint_Type,Location_Type,Incident_Zip,Incident_Address,Street_Name,Address_Type,City,Status,Resolution_Description,Borough,Latitude,Longitude
3,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558
5,5,45530344,02/02/2020 07:52:08 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10456.0,1131 MORRIS AVENUE,MORRIS AVENUE,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.831381,-73.915218
10,10,45530349,02/02/2020 05:38:39 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10459.0,1032 ALDUS STREET,ALDUS STREET,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.823282,-73.887462
16,16,45528878,02/02/2020 04:11:19 AM,NaN,UNSANITARY CONDITION,RESIDENTIAL BUILDING,10456.0,488 EAST 164 STREET,EAST 164 STREET,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.825719,-73.909531
19,19,45529362,02/02/2020 01:38:25 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10473.0,880 BOYNTON AVENUE,BOYNTON AVENUE,ADDRESS,BRONX,Open,The complaint you filed is a duplicate of a co...,BRONX,40.821314,-73.876507

In [6]:
#Add a compindex ; true if heat related
#takes a nested sequence of objects or numpy arrays as inputs and returns a single numpy array or a tuple of numpy arrays

def conditions(x):
    if x == "HEAT/HOT WATER":
        return 1
    elif x == "HEATING":
        return 1
    else:
        return 0

func = np.vectorize(conditions) 
complaint_class = func(df_data_NYC["Complaint_Type"])

df_data_NYC["compindex"] = complaint_class
df_data_NYC.head()

,CompCount,Unique_Key,Created_Date,Closed_Date,Complaint_Type,Location_Type,Incident_Zip,Incident_Address,Street_Name,Address_Type,City,Status,Resolution_Description,Borough,Latitude,Longitude,compindex
3,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558,1
5,5,45530344,02/02/2020 07:52:08 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10456.0,1131 MORRIS AVENUE,MORRIS AVENUE,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.831381,-73.915218,1
10,10,45530349,02/02/2020 05:38:39 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10459.0,1032 ALDUS STREET,ALDUS STREET,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.823282,-73.887462,1
16,16,45528878,02/02/2020 04:11:19 AM,NaN,UNSANITARY CONDITION,RESIDENTIAL BUILDING,10456.0,488 EAST 164 STREET,EAST 164 STREET,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.825719,-73.909531,0
19,19,45529362,02/02/2020 01:38:25 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10473.0,880 BOYNTON AVENUE,BOYNTON AVENUE,ADDRESS,BRONX,Open,The complaint you filed is a duplicate of a co...,BRONX,40.821314,-73.876507,1

In [7]:
#drop rows in Zip with NaN
df_data_NYC.dropna(subset=['Incident_Zip'],inplace=True)
df_data_BX.dropna(subset=['ZipCode'],inplace=True)

In [8]:
#join NYC and Bronx using Address as pk
df_merged_BX = pd.merge(df_data_NYC, df_data_BX, left_on='Incident_Address', right_on='Address')
df_merged_BX.head()

,CompCount,Unique_Key,Created_Date,Closed_Date,Complaint_Type,Location_Type,Incident_Zip,Incident_Address,Street_Name,Address_Type,...,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord
0,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,...,17.0,0,125075,3.44,0,1970,0,10458.0,250336.0,1016928.0
1,3788,45396409,01/15/2020 10:30:13 AM,01/31/2020 11:54:00 AM,FLOORING/STAIRS,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,...,17.0,0,125075,3.44,0,1970,0,10458.0,250336.0,1016928.0
2,7374,45259244,12/27/2019 10:15:10 AM,01/02/2020 11:24:56 AM,DOOR/WINDOW,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,...,17.0,0,125075,3.44,0,1970,0,10458.0,250336.0,1016928.0
3,9050,45178116,12/16/2019 12:37:23 PM,12/18/2019 03:38:28 PM,UNSANITARY CONDITION,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,...,17.0,0,125075,3.44,0,1970,0,10458.0,250336.0,1016928.0
4,10686,45129125,12/10/2019 10:44:06 AM,12/18/2019 03:38:28 PM,GENERAL,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,...,17.0,0,125075,3.44,0,1970,0,10458.0,250336.0,1016928.0

In [9]:
df_merged_BX.shape

(1290145, 37)

In [10]:
#create dataframe for features
BX_Heat = df_merged_BX[['BldgArea', 'BldgDepth', 'BuiltFAR', 'CommFAR', 'FacilFAR', 'Lot',
       'LotArea', 'LotDepth', 'NumBldgs', 'NumFloors', 'ResArea',
       'ResidFAR', 'RetailArea', 'YearBuilt', 'YearAlter1', 'compindex']]
BX_Heat.head()

,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,compindex
0,125075,120.0,4.55,0.0,4.8,5,27469,132.0,1,17.0,125075,3.44,0,1970,0,1
1,125075,120.0,4.55,0.0,4.8,5,27469,132.0,1,17.0,125075,3.44,0,1970,0,0
2,125075,120.0,4.55,0.0,4.8,5,27469,132.0,1,17.0,125075,3.44,0,1970,0,0
3,125075,120.0,4.55,0.0,4.8,5,27469,132.0,1,17.0,125075,3.44,0,1970,0,0
4,125075,120.0,4.55,0.0,4.8,5,27469,132.0,1,17.0,125075,3.44,0,1970,0,0

In [11]:
BX_Heat.fillna(BX_Heat.mean(), inplace=True)
BX_Heat.isnull().sum()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

BldgArea      0
BldgDepth     0
BuiltFAR      0
CommFAR       0
FacilFAR      0
Lot           0
LotArea       0
LotDepth      0
NumBldgs      0
NumFloors     0
ResArea       0
ResidFAR      0
RetailArea    0
YearBuilt     0
YearAlter1    0
compindex     0
dtype: int64

In [12]:
y = BX_Heat['compindex']
X = BX_Heat.drop(['compindex'], axis=1)

In [13]:
#Normalize data
from sklearn.preprocessing import StandardScaler
X= StandardScaler().fit_transform(X)
X[0:5]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

array([[ 1.10946707,  0.85943041,  0.3214467 , -0.17668797,  0.10043835,
        -0.15903931,  0.45710676,  0.40414178, -0.12419012,  5.16075144,
         1.16916905,  0.0366133 , -0.3101383 ,  0.44275189, -0.57631053],
       [ 1.10946707,  0.85943041,  0.3214467 , -0.17668797,  0.10043835,
        -0.15903931,  0.45710676,  0.40414178, -0.12419012,  5.16075144,
         1.16916905,  0.0366133 , -0.3101383 ,  0.44275189, -0.57631053],
       [ 1.10946707,  0.85943041,  0.3214467 , -0.17668797,  0.10043835,
        -0.15903931,  0.45710676,  0.40414178, -0.12419012,  5.16075144,
         1.16916905,  0.0366133 , -0.3101383 ,  0.44275189, -0.57631053],
       [ 1.10946707,  0.85943041,  0.3214467 , -0.17668797,  0.10043835,
        -0.15903931,  0.45710676,  0.40414178, -0.12419012,  5.16075144,
         1.16916905,  0.0366133 , -0.3101383 ,  0.44275189, -0.57631053],
       [ 1.10946707,  0.85943041,  0.3214467 , -0.17668797,  0.10043835,
        -0.15903931,  0.45710676,  0.40414178, -0.12419012,  5.16075144,
         1.16916905,  0.0366133 , -0.3101383 ,  0.44275189, -0.57631053]])

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Validation set:', X_val.shape,  y_val.shape)

Train set: (1032116, 15) (1032116,)
Validation set: (258029, 15) (258029,)

In [15]:
#KNN

from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = 5).fit(X_train,y_train)
yhat = neigh.predict(X_val)
print("KNN Accuracy at k = 5: ", metrics.accuracy_score(y_val, yhat))

KNN Accuracy at k = 5:  0.6809350886915811

In [16]:
#Decision Tree

from sklearn.tree import DecisionTreeClassifier

BXTree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
BXTree # it shows the default parameters
BXTree.fit(X_train,y_train)

predTree = BXTree.predict(X_val)
print (predTree [0:5])
print (y_val [0:5])

from sklearn import metrics
print("DecisionTrees's Accuracy at max_depth = 4: ", metrics.accuracy_score(y_val, predTree))

[0 0 0 0 0]
181140    0
667597    1
795240    0
8396      1
586218    1
Name: compindex, dtype: int32
DecisionTrees's Accuracy at max_depth = 4:  0.6406450437741494

In [26]:
#SVM

from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report, confusion_matrix

LSVC = LinearSVC()
LSVC.fit(X_train, y_train) 
yhat = LSVC.predict(X_val)
print("SVC Accuracy: ", metrics.accuracy_score(y_val, yhat))

#print("Radial Basis Function Accuracy: ", jaccard_similarity_score(y_val, yhat))

SVC Accuracy:  0.6303361250092044

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [18]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import jaccard_similarity_score

LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
yhat = LR.predict(X_val)
#print("Radial Basis Function Accuracy: ", jaccard_similarity_score(y_val, yhat))
print("LR Accuracy at: ", metrics.accuracy_score(y_val, yhat))

LR Accuracy at:  0.6309484592817086

In [19]:
#Evaluate Model using test set

from sklearn.metrics import f1_score
# for f1_score please set the average parameter to 'micro'
from sklearn.metrics import log_loss
from sklearn.metrics import jaccard_similarity_score

def jaccard_index(predictions, true):
    if (len(predictions) == len(true)):
        intersect = 0;
        for x,y in zip(predictions, true):
            if (x == y):
                intersect += 1
        return intersect / (len(predictions) + len(true) - intersect)
    else:
        return -1
    
test_y = BX_Heat['compindex'].values
test_y[0:5]

array([1, 0, 0, 0, 0])

In [20]:
neigh = KNeighborsClassifier(n_neighbors = 5).fit(X_val,y_val)
yhat = neigh.predict(X_val)

print("F1 score:",f1_score(y_val, yhat, average='micro'))
print("Jaccard Index:",jaccard_index(yhat, y_val))

F1 score: 0.6944955799541912
Jaccard Index: 0.5319748974345273

In [21]:
from sklearn.metrics import classification_report

BXTree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
BXTree # it shows the default parameters
BXTree.fit(X_val,y_val)

predTree = BXTree.predict(X_val)

print("F1 score:",f1_score(y_val, predTree, average='micro'))
print("Jaccard Index:",jaccard_index(predTree, y_val))

F1 score: 0.6406372927074089
Jaccard Index: 0.47127767244943053

In [29]:
LSVC = LinearSVC()
LSVC.fit(X_val, y_val) 
yhat = LSVC.predict(X_val)

print("F1 score:",f1_score(y_val, yhat, average='micro'))
print("SVC Accuracy: ", jaccard_similarity_score(y_val, yhat))
print("Jaccard Index:",jaccard_index(yhat, y_val))

F1 score: 0.6304601420770534
SVC Accuracy:  0.6304601420770534
Jaccard Index: 0.4603445006947176

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [23]:
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_val,y_val)
yhat = LR.predict(X_val)
print("F1 score:",f1_score(y_val, yhat, average='micro'))
print("Jaccard Index:",jaccard_index(yhat, y_val))

F1 score: 0.6307973134802677
Jaccard Index: 0.4607041161185868